<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        <title></title>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        
        <div class="container-fluid">
                <div class="col-12">
                    <div class="row" style="margin-top:100px">
                    <div class="col-4"></div>
                        <div class="col-4 entryContainer">
        
                        <h1 class="entryTitle">Hae kirjan tiedot ISBN:llä</h1>
                        <div style="text-align: center">
                            <img src="/book_large.png" alt="book">
                        </div>
                        <p class="text-muted" style="text-align: center; padding-top: 10px">
                            Teoksen tiedot haetaan puolestasi automaattisesti.
                        </p>
                        <div th:if="${param.error}"  class="alert alert-warning notification" role="alert">
                            <p>Syötä oikea ISBN.</p>
                        </div>
            
                        <form method="POST" th:action="@{/book/query}" class="entryForm">
                            <div class="form-group">
                                <label for="nameInputField">ISBN</label>
                                <input type="text" name="isbn" id="linkInputField" class="form-control" required>
                            </div>
                            <button name="bookSubmit" type="submit" class="btn btn-primary">Hae tiedot</button>
                        </form>
                        <br />
                        <br />
                        <p class="text-muted">
                            Et halua hakea teosta ISBN-tunnuksen perusteella? Voit siirtyä myös lisäämään tiedot kokonaan itse.
                        </p>
                         
                        <form id="2" th:action="@{/book/create/none}" method="get">
                             <button type="submit" name="addWithoutISBN" class="btn btn-primary">Lisää kirja ilman ISBN-tunnusta</button>
                        </form>
                    </div>
            
                <div class="col-4"></div>
            </div>
            </div>
        </div>

        <footer th:replace="layout :: footer"></footer>
    </body>
</html>

