<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Playground for testing stuff</title>
    </head>
    <body>
        <h1>Here be dragons. Proceed with caution</h1>
        <p>
            Ei mitään kunnon toiminnallisuutta, testi. Lähettää a POST-pyynnön ositteeseen pictures/book/create, jossa mukana kuvan data ja sen kirjan ID (tässä kovakoodattu ID 1), johon kuva yhdistetään.
        </p> 
        <p>Alla näkyvä kuva haetaan pictures-taulusta ID:llä 2 (kovakoodattu sekin)</p>
        <p>Testaa näin: 1) poista paikallinen tietokanta (jotta ID:t nollaantuu), 2) lisää ensin kirja normaalisti, 3) lisää tältä sivulta kuva 4) nyt nuo ovat yhdistetty ja sen kuvan pitäisi näkyä</p>
        <p>Tää ei ole optimaalinen ratkaisu, mutta toimii. Parantaa myöhemmin. Käyttöön vain sijoittamalla kovakoodattujen kohtien tilalle muuttujat jne.</p>
        <p>Kirjan poistamisen pitäisi tuhota tietokannasta myös kuvan viitteen perusteella</p>
        <form method="POST" th:action="@{/pictures/book/create}" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/><br />
            <input type="hidden" name="bookid" value="1">
            <button type="submit">Lisää uusi kansikuva</button>
        </form>

        <img th:src="@{/pictures/{id}(id=2)}" alt="Alt text">

    </body>
</html>