<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        <title></title>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        <h1>Kirjan muokkaus</h1>
        <div th:if="${param.error}"  class="alert alert-danger notification" role="alert">
            <p>Saman niminen kirja on jo talletettu.</p>
        </div>
        <form method="POST" th:action="@{/books/edit}">
            <table>
                <tr>
                    <td>Kirjan nimi:</td>
                    <td>
                        <input type="text" name="title" th:value="${book.title}" required/>
                    </td>
                </tr>
                <tr>
                    <td>Kirjailija:</td>
                    <td>
                        <input type="text" name="author" th:value="${book.author}" required/>
                    </td>
                </tr>
                <tr>
                    <td>Nettilinkki (vapaaehtoinen):</td>
                        <td>
                            <input type="text" name="urlstring" th:value="${book.urlstring}"/>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <input type="hidden" name="url" th:value="${url}"/>
                        <input type="hidden" name="id" th:value="${book.id}"/>
                        <input name="bookSubmit" type="submit" value="Muokkaa"/>
                    </td>
                </tr>
            </table>
        </form>
        <footer th:replace="layout :: footer"></footer>
    </body>
</html>