<!DOCTYPE HTML>
<html lang="fi" xml:lang="fi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
    <head th:fragmen="head">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
        <meta charset="UTF-8" />
        <title>Lukuvinkkisovellus</title>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <a class="navbar-brand" href="/">Lukuvinkkisovellus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lisää lukuvinkki
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a id="bookMenuAdd" class="dropdown-item" href="/book/query">Uusi kirjavinkki</a>
                                <a id="linkMenuAdd" class="dropdown-item" href="/link/query">Uusi nettivinkki</a>
                                <a id="videoMenuAdd" class="dropdown-item" href="/video/query">Uusi videovinkki</a>
                            </div>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/bookmarks/list">Listaa lukuvinkit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bookmarks/list/read">Listaa luetut lukuvinkit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bookmarks/list/unread">Listaa lukemattomat lukuvinkit</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        </footer>
    </body>
</html>
