<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        <title></title>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        <h1>Kirjalista</h1>
        <div th:if="${#lists.isEmpty(books)}" hidden="hidden" id="hidden">Lukuvinkkejä ei ole vielä lisätty.</div>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th style="width: 10%">Nimi</th>
                    <th style="width: 10%">Kirjailija</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book: ${books}" style="line-height: 50px; min-height: 50px; height: 50px">
                    <strong>
                        <td style="position:relative;"><span style="width: 90%; overflow: auto; position: absolute; top: -18px;" th:text=${book.title}></span></td>
                        <td style="position:relative;"><span style="width: 90%; overflow: auto; position: absolute; top: -18px;" th:text=${book.author}></span></td>
                        <td style="position:relative;">
                            <form th:action="@{/delete}" method="post">
                                <input type="hidden" name="id" th:value="${book.id}" />
                                <input type="submit" value="Poista" class="btn btn-danger" onclick="return confirm('Poista lukuvinkki?');"/>
                            </form>
                        </td>
                    </strong>
                </tr>
            </tbody>
        </table>
        <footer th:replace="layout :: footer"></footer>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable(
                        {
                            scrollY: 440,
                            "language": {
                                "lengthMenu": "Näytetään _MENU_ tulosta per sivu",
                                "zeroRecords": "Lukuvinkkejä ei löytynyt.",
                                "info": "Näytetään sivu _PAGE_ / _PAGES_",
                                "infoEmpty": "Ei hakutuloksia.",
                                "infoFiltered": "(Filtteröity _MAX_ tuloksesta)",
                                "search": "Haku:",
                                "paginate": {
                                    "first": "Ensimmäinen",
                                    "last": "Viimeinen",
                                    "next": "Seuraava",
                                    "previous": "Edellinen"
                                },
                            }
                        });
            });
        </script>
    </body>
</html>