<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title></title>
</head>
<body>
<header th:replace="layout :: header"></header>
<h1>Lista lukuvinkeistä</h1>
<table class="table" id="myTable">
    <thead>
    <tr>
        <th style="width: 10%">Nimi</th>
        <th style="width: 10%">Tyyppi</th>
        <th>Luettu</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookmark: ${bookmarks}" style="line-height: 50px; min-height: 50px; height: 50px">
        <strong>
            <td style="position:relative;">
                <span style="width: 90%; overflow: auto; position: absolute; top: -18px;" th:text=${bookmark.name}></span>
            </td>
            <td style="position:relative;">
                <span style="width: 90%; overflow: auto; position: absolute; top: -18px;" th:text=${bookmark.type}></span>
            </td>
            <td style="position:relative;">
                <span style="width: 90%; overflow: auto; position: absolute; top: -18px;" th:text=${bookmark.hasBeenRead}></span>
            </td>
            <td style="position:relative;">
                            <span>
                                <form th:if="${bookmark.hasBeenRead == false}" style="display:inline" th:action="@{/bookmarks/mark}" method="post">
                                    <input type="hidden" name="id" th:value="${bookmark.id}" />
                                    <input type="hidden" name="url" th:value="${#httpServletRequest.requestURI}"/>
                                    <input type="submit" value="Merkitse luetuksi" class="btn btn-sm" onclick="return alert('Merkitty luetuksi.');"/>
                                </form>
                                <form th:unless="${bookmark.hasBeenRead == false}" style="display:inline" th:action="@{/bookmarks/unmark}" method="post">
                                    <input type="hidden" name="id" th:value="${bookmark.id}" />
                                    <input type="hidden" name="url" th:value="${#httpServletRequest.requestURI}"/>
                                    <input type="submit" value="Merkitse lukemattomaksi" class="btn btn-sm" onclick="return alert('Merkitty lukemattomaksi.');"/>
                                </form>
                                <form style="display:inline" th:action="${'/' + bookmark.type + '/edit'}" method="get">
                                    <input type="hidden" name="id" th:value="${bookmark.id}" />
                                    <input type="hidden" name="url" th:value="${#httpServletRequest.requestURI}"/>
                                    <input type="submit" value="Muokkaa" class="btn btn-warning btn-sm"/>
                                </form>
                                <form style="display:inline" th:action="@{/bookmarks/delete}" method="post">
                                    <input type="hidden" name="id" th:value="${bookmark.id}" />
                                    <input type="hidden" name="url" th:value="${#httpServletRequest.requestURI}"/>
                                    <input type="submit" value="Poista" class="btn btn-danger btn-sm" onclick="return confirm('Poista lukuvinkki?');"/>
                                </form>
                            </span>
            </td>
        </strong>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
<script>
    $(document).ready(function () {
        var table = $('#myTable').DataTable(
            {
                scrollY: '60vh',
                scrollCollapse: true,
                "language": {
                    "lengthMenu": "Näytetään _MENU_ tulosta per sivu",
                    "zeroRecords": "Lukuvinkkejä ei löytynyt.",
                    "info": "Näytetään sivu _PAGE_ / _PAGES_",
                    "infoEmpty": "Ei hakutuloksia.",
                    "infoFiltered": "(Filtteröity _MAX_ tuloksesta)",
                    "search": "Haku:",
                    "paginate": {
                        "first": "Ensimmäinen",
                        "last": "Viimeinen",
                        "next": "Seuraava",
                        "previous": "Edellinen"
                    },
                }
            });
    });
</script>
</body>
</html>