<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        <title></title>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        <h1>Lukuvinkki (kirja) lisääminen</h1>
        <div th:if="${param.error}"  class="alert alert-danger notification" role="alert">
            <p>Lukuvinkki on jo tallennettu!</p>
        </div>
        <form method="POST" th:action="@{/book/create}">
            <table>
                <tr>
                    <td>Kirjan nimi:</td>
                    <td>
                        <input type="text" name="title" required/>
                    </td>
                </tr>
                <tr>
                    <td>Kirjailija:</td>
                    <td>
                        <input type="text" name="author" required/>
                    </td>
                </tr>
                <tr>
                    <td>Kommentti:</td>
                    <td>
                        <input type="textarea" name="comment"/>
                    </td>
                </tr>
                </div>
                <tr>
                    <td>
                        <input name="bookSubmit" type="submit" value="Lisää uusi kirja"/>
                    </td>
                </tr>
            </table>
        </form>
        <footer th:replace="layout :: footer"></footer>
    </body>
</html>