<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title></title>
</head>
<body>
<header th:replace="layout :: header"></header>
<h1>Lukuvinkki (video) lisääminen</h1>
<div th:if="${param.error}"  class="alert alert-danger notification" role="alert">
    <p>Lukuvinkki on jo tallennettu!</p>
</div>
<form method="POST" th:action="@{/video/create}">
    <table>
        <tr>
            <td>Lukuvinkin nimi:</td>
            <td>
                <input type="text" name="name" th:value="${name}" required/>
            </td>
        </tr>
        <tr>
            <td>Url:</td>
            <td>
                <input type="text" name="link" th:value="${link}" required/>
            </td>
        </tr>
        <tr>
            <td>Kommentti:</td>
            <td>
                <input type="textarea" name="comment"/>
            </td>
        </tr>
        </div>
        <tr>
            <td>
                <input name="videoSubmit" type="submit" value="Lisää uusi linkkivinkki"/>
            </td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
