<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title></title>
</head>
<body>
<header th:replace="layout :: header"></header>
<div class="container-fluid">
        <div class="col-12">
            <div class="row" style="margin-top:60px">
            <div class="col-4"></div>
                <div class="col-4 entryContainer">

    
                <h1 class="entryTitle">Lisää video lukuvinkiksi</h1>
                <div style="text-align: center">
                    <img src="/video_large.png" alt="book">
                </div>
                <p class="text-muted" style="text-align: center; padding-top: 10px">
                    Syötä videon tiedot alla olevalle lomakkeelle.
                </p>
                <div th:if="${param.error}"  class="alert alert-warning notification" role="alert">
                    <p>Lukuvinkki on jo tallennettu.</p>
                </div>
    
                <form method="POST" th:action="@{/video/create}" class="entryForm">
                <div class="form-group">
                    <label for="nameInputField">Lukuvinkin nimi</label>
                    <input type="text" name="name" id="nameInputField" class="form-control" th:value="${name}" required>
                </div>
                <div class="form-group">
                    <label for="URLInputField">URL</label>
                    <input name="link" id="URLInputField" class="form-control" th:value="${link}" required>
                </div>
                <div class="form-group">
                    <label for="commentInputField">Kommentti</label>
                    <input type="text" name="comment" id="commentInputField" class="form-control">
                </div>
                <button name="videoSubmit" type="submit" class="btn btn-primary">Lisää uusi lukuvinkki</button>
            </form>

            </div>
    
        <div class="col-4"></div>
    </div>
    </div>
</div>


<footer th:replace="layout :: footer"></footer>
</body>
</html>
