<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        <title></title>
    </head>
    <body>
        <header th:replace="layout :: header"></header>

        
        <div class="container-fluid">
                <div class="col-12">
                    <div class="row" style="margin-top:100px">
                    <div class="col-4"></div>
                        <div class="col-4">
        
            
                        <h1>Hae videon tiedot</h1>
                        <div th:if="${param.error}"  class="alert alert-warning notification" role="alert">
                            <p>Syötä oikea osoite.</p>
                        </div>
            
                        <form method="POST" th:action="@{/video/query}">
                        <div class="form-group">
                            <label for="nameInputField">URL</label>
                            <input type="text" name="link" id="linkInputField" class="form-control" required>
                        </div>
                        <button name="linkSubmit" type="submit" class="btn btn-primary">Siirry tietojen muokkaukseen</button>
                    </form>
        
                    </div>
            
                <div class="col-4"></div>
            </div>
            </div>
        </div>


        <footer th:replace="layout :: footer"></footer>
    </body>
</html>

